@import '@fontsource/roboto';

*,*:before,*:after {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
}

:root {
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	/* line-height: 36px; */
	--bgcolor : rgb(27, 27, 27);
}

body, html, #svelte {
	width : 100%;
	height : 100%;
}

body {
	background : var(--bgcolor);
	color : #ffffff;
}

a {
	text-decoration: none;
	color : inherit;
}

h1 {
	font-size : 2rem;
}


@keyframes typewriter {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}